:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes sway {
  0%,
  100% {
    transform: rotate(-1.5deg);
  }
  50% {
    transform: rotate(1.5deg);
  }
}

.example-card {
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  aspect-ratio: 0.6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-origin: center; /* Ensure the rotation point is at the center of the element */
  border-radius: 8px;
}

h1 {
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.trash-button-back,
.trash-button-front {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 9999;
}

.card-image {
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Maintain aspect ratio */
  height: auto;
  position: absolute; /* Position the image within its parent */
  top: 0; /* Align image to the top */
  left: 0; /* Align image to the left */
  right: 0; /* Align image to the right */
  bottom: 0; /* Align image to the bottom */
  margin: auto; /* Center the image horizontally and vertically */
}

/* card.component.css */
.card {
  aspect-ratio: 0.6;
  width: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.card-front:hover {
  animation: sway 2s ease-in-out infinite; /* Continuous rotation effect */
  animation-duration: 1s; /* Duration of the enlargement animation */
  animation-fill-mode: forwards; /* Keep the element enlarged after the animation ends */
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-back {
  background-color: #eee;
  transform: rotateY(180deg);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flipped {
  transform: rotateY(180deg);
}

.card-bottom {
  position: absolute;
  bottom: 10px;
}

.player-name {
  word-wrap: break-word;
}

.more-button {
  border-radius: 15px;
  margin: 10px;
  float: right;
  color: black;
  background-color: white;
}
