:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  .nav-title {
    font-size: 1.2cm;
  }

  margin-bottom: 15px;
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;  /* Make sure it floats above other content */
}

.cardForm {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

  input, button {
    margin: 10px;
  }
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 1000;
}

  @keyframes sway {
    0%, 100% {
    transform: rotate(-3deg);
    }
    50% {
    transform: rotate(3deg) scale(1.02);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }
  
  .md-padding {
    padding: 20px;
  }
  
  .row-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row-gap-center-start {
    justify-content: center;
    align-items: flex-start;
  }
  
  .card-row {
    margin: 10px;
  }

  .example-card {
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    min-width: 125px;
    max-width: 200px;
    box-shadow: 1px 1px 1px darkgray;
    transform-origin: center; /* Ensure the rotation point is at the center of the element */
    border-radius: 3px;
  }
    
    .example-card:hover {
      animation: sway 2s ease-in-out infinite; /* Continuous rotation effect */
      animation-duration: 1s; /* Duration of the enlargement animation */
      animation-fill-mode: forwards; /* Keep the element enlarged after the animation ends */
    }

h1 {
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3rem;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
