:host {
  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  .nav-title {
    font-size: 1.2cm;
  }

  position: relative;
  display: inline-block;
}

.bottom-right-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Make sure it floats above other content */
}

.menu-mode {
  float: right;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.md-padding {
  padding: 20px;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row-gap-center-start {
  justify-content: center;
  align-items: flex-start;
}

.card-row {
  margin: 20px;
}

h1 {
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3rem;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .count {
    flex-direction: column;
    align-items: flex-start;
  }

  .controls {
    width: 100%;
  }

  .size-control,
  .view-toggle {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .size-control mat-slider {
    width: 100%; /* Adjust as needed */
  }
}

.count {
  display: flex;
  align-items: center; /* This aligns the icon and text vertically in the middle */
}

.count-title {
  display: flex;
  align-items: center; /* Align items vertically */
}

.info-icon {
  margin-left: 5px; /* Adjust spacing between text and icon */
  cursor: pointer; /* Ensure the icon is clickable */
  color: gray;
}

.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.menu-slide {
  transform: scale(1.8);
}

.login-icon {
  transform: scale(1.8);
}

.count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.count-title {
  display: flex;
  align-items: center;
  font-size: 1.05em;
  margin-right: auto; /* Pushes .controls to the right */
}

.size-control mat-slider {
  width: 100px; /* Adjust as needed */
}

.view-toggle {
  margin-left: auto; /* Pushes .view-toggle to the right */
  margin-right: 40px;
}

.trash-button {
  box-shadow: none;
}

.trash-button:hover {
  box-shadow: none;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.login-button {
  align-items: center;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin-right: 30px;
  & .login-button-int {
    padding: 20px;
    border-radius: 15px;
  }
}

.psa-link {
  text-decoration: none;
  & .psa-link-label {
    width: 220px;
    height: 80px;
    margin: 0 auto;
    background-size: 220px 80px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
