<main class="main">
  <div fxLayout.gt-lg="column" class="content">
    <div fxLayout="column">
      <div class="nav">
        <h1 class="nav-title">{{ title }}</h1>
      </div>

      <div class="count">
        <p class="count-title">
          {{ userCards?.length ?? 0 }} cards. 
          <mat-icon class="info-icon" matTooltip="Click card for more info.">info</mat-icon>
        </p>
      </div>

      <login *ngIf="!loggedIn">
      </login>

      <div class='md-padding row-wrap row-gap-center-start'>
        <div class="card-row" *ngFor="let card of userCards">
          <card [card]="card"></card>
        </div>
      </div>

  <button mat-fab color="black" (click)="onFormButtonClick()" class="bottom-right-button">
    <b style="font-size: x-large;">+</b>
  </button>
  
<router-outlet />

